[submodule "renderer/ext/pugixml"]
	path = renderer/ext/pugixml
	url = git@github.com:roblesch/pugixml.git
[submodule "renderer/ext/glm"]
	path = renderer/ext/glm
	url = git@github.com:roblesch/glm.git
[submodule "renderer/ext/json"]
	path = renderer/ext/json
	url = git@github.com:roblesch/json.git
[submodule "renderer/ext/stb"]
	path = renderer/ext/stb
	url = git@github.com:roblesch/stb.git
