[submodule "renderer/ext/pugixml"]
	path = renderer/ext/pugixml
	url = git@github.com:roblesch/pugixml.git
[submodule "renderer/ext/glm"]
	path = renderer/ext/glm
	url = git@github.com:roblesch/glm.git
